# Target Python: 3.13.8 (see environment.yml)
QuantLib-Python
black
ipywidgets
isort
jupyter
jupyter-resource-usage
jupyterlab
jupyterlab-code-formatter
jupyterlab-git
jupyterlab-lsp
jupyterlab_execute_time
matplotlib
nbdime
numpy
onnxscript
polars
prometheus_api_client
prometheus_client
python-lsp-server
pyyaml
scipy
torch
torchinfo
tqdm

# Optional
tensorflow