# Target Python: 3.13.8 (see environment.yml)
QuantLib-Python
black
boto3
ipywidgets
isort
jupyter
jupyter-resource-usage
jupyterlab
jupyterlab-code-formatter
jupyterlab-git
jupyterlab-lsp
jupyterlab_execute_time
matplotlib
nbdime
numpy
onnxscript
polars
prometheus_api_client
prometheus_client
psycopg2
python-lsp-server
pyyaml
s3fs
scipy
tensorflow
torch
torchinfo
tqdm