# Target Python: 3.13.8 (see environment.yml)
black
graphviz
ipywidgets
isort
jupyter
jupyter-resource-usage
jupyterlab
jupyterlab-code-formatter
jupyterlab-execute-time
jupyterlab-git
jupyterlab-lsp
matplotlib
nbdime
netron
numpy
onnx
onnxscript
python-lsp-server
QuantLib-Python
ruff
scipy
torch
torchinfo
tqdm

# Optional
tensorflow
